@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1100 Fairview Ave. N. J4-300<br />
    Seattle, WA 98109<br />
    <abbr title="Phone">P:</abbr>
    206.667.2407
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rmcdermo@fredhutch.org">rmcdermo@fredhutch.org</a><br />
</address>